<%= render 'shared/alert_notice' if notice %>

<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center">Albums</h1>
  <div id="albums" class="w-100">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @albums.each do |album| %>
          <tr>
            <td><%= album.name %></td>
            <td><%= album.artist&.name %></td>
            <td><%= album.year %></td>
            <td>
              <%= link_to "Show", album, class: "btn btn-primary btn-sm" %>
              <%= link_to "Edit", edit_album_path(album), class: "btn btn-warning btn-sm" %>
              <%= link_to "Delete", album, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-4">
    <%= link_to "New album", new_album_path, class: "btn btn-success" %>
  </div>

</div>